.sudoku {
    background-image: url("../assets/background.jpg");
}

.sudoku-table {
    border: #AAA solid 2px;
    width: 550px;
    height: 550px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.sudoku-cell {
    width: 33%;
    height: 33%;
}
.sudoku-sub-stable {
    width: 180px;
    height: 180px;
    border: #AAA solid 1px;
    border-radius: 10px;
}
.sudoku-sub-row {
}
.board-container {
    width: 100%;
    height: 100%;
    text-align: center;
}
.sudoku-input {
    width: 33%;
    height: 33%;
    border: dashed;
    border-width: 1px 1px 1px 1px;
    border-color: black;
    border-radius: 5px;
    color: black;
    font-size: x-large;
    font-weight: bolder;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.sudoku-input-hover {
    transition: background-color 0.5s ease;
    opacity: 0.8;
    background-color: rgba(36, 36, 36, 0.94);
}

.sudoku-fix-input {
    background-color: rgba(216, 21, 66, 0.47);
}
.sudoku-valid-input {
    color: blue;
}
.sudoku-invalid-input {
    color: rgba(255, 0, 0, 0.76);
    z-index: 100;
}